/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

header {
	padding-top: 5px;
}

header ul{
	position: relative;
	top: 65px;
	left: -6px;
	background-color: #585b5b; 
	height: 33px;
}

header .span9 {
	width: 720px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	text-shadow: 1px 1px #ff4000;
}

li {
	list-style: none;
	padding-top: 5px;
}

ul li a {
	color: #FFF;
	font-size: 18px;
	font-weight: 700;
	
}
#login_link a {
	color: #585b5b;
	text-decoration: none;
}

#login_link a:hover {
	text-shadow: 1px 1px #74bbd4;
}

ul li a:hover {
	color: #FFF;
}

section {
	padding-top: 25px;
}

#subheader {
	position: relative;
	top: -50px;
}

#subheader p {
	font-weight: 700;
	position: relative;
	top: 15px;
}

#subheader img {
	float:right;
}

#sidemenu li{
	color: #acacac;
	font-weight: 400;
	padding-left: 10px;
	padding-bottom: 5px;
}

#sidemenu li:hover {
	text-shadow: 1px 1px #ff4000;
}

#sidemenu .active {
	color: #FFF;
	background-color: #74BBD4;
}

#mainmenu table {
	font-weight: 400;
}

#mainmenu table tbody td img{
	float:left;
	padding: 10px;
}

#mainmenu a {
	color: #585b5b;
	text-decoration: none;
}

#mainmenu a:hover {
	color: #585b5b;
	text-decoration: none;
	text-shadow: 1px 1px #ff4000;
}

#main .start {
	position: relative;
	top: 65px;
}

#main .start p {
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	padding-bottom: 15px;
}

#main .start .btn {
	margin-left: 25px;
}

#main #video{
	height: 300px;
	width: 516px;
	background-color: gray;
}
.bottom_links {
	background-color: #74bbd4;
	border-radius: 15px;
	width: 250px;
	display: block;
	float: left;
	margin-right: 16px;
	height: 150px;
}

.bottom_links {
	color: #FFF;
}

.bottom_links img {
	margin-right: 5px;
	float:left;
	padding-left: 15px;
	padding-top: 20px;
}

.bottom_links p {
	padding-top: 20px;
	margin-left: 125px;
	width: 125px;
}

.bottom_links a {
	color: #FFF;
}

.bottom_links a:hover {
	color: #FFF;
	text-decoration: none;
	text-shadow: 1px 1px #ff4000;
}

.bottom_links .bottom_links_header{
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	margin-bottom: 0px;
	display: block;
}

.bottom_links h4 {
	padding-left: 25px;
}

footer {
	margin-top: 25px;
	background-color: #585b5b;
	height: 33px;
}

#credits {
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
}

#credits img {
	width: 55px;
}

#credits {
	text-align: right;
}

.btn-custom-lighten.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-custom-lighten {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff4f14;
  background-image: -moz-linear-gradient(top, #ff4000, #ff6633);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff4000), to(#ff6633));
  background-image: -webkit-linear-gradient(top, #ff4000, #ff6633);
  background-image: -o-linear-gradient(top, #ff4000, #ff6633);
  background-image: linear-gradient(to bottom, #ff4000, #ff6633);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff4000', endColorstr='#ffff6633', GradientType=0);
  border-color: #ff6633 #ff6633 #e53a00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ff6633;
   Darken IE7 buttons by default so they stand out more given they won't have borders 

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-custom-lighten:hover,
.btn-custom-lighten:focus,
.btn-custom-lighten:active,
.btn-custom-lighten.active,
.btn-custom-lighten.disabled,
.btn-custom-lighten[disabled] {
  color: #ffffff;
  background-color: #ff6633;
  *background-color: #ff5319;
}
.btn-custom-lighten:active,
.btn-custom-lighten.active {
  background-color: #ff4000 ;
}

#bottom-section form{
	background-color: #74bbd4;
	border-radius: 15px;
	padding: 25px;
}

input {
	margin: 10px;
}

#bottom-section button {
	margin: 10px;
}

