/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #585b5b;
}

.bold {
	font-weight: 700;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
	margin-top: 0px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	margin: 0px;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #FFF;
	text-decoration: none;
}

header ul, footer ul, #sidemenu ul{
	padding-left: 0px;
	list-style: none;
}

li {
	padding-top: 5px;
}

.navbar {
	background-color: #FFF;
}

.nav {
	margin-top: 57px;
	margin-left: -7px;
	height: 33px;
	background-color: #585b5b;
}

.navbar-nav li a {
	padding-top: 0px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #FFF;
}

.navbar-nav li a:hover{
	color: #74BBD4;
	text-decoration: none;
}

#bfUserName, #signOutLink {
	display: none;
}

#subheader {
	position: relative;
	top: -75px;
}

#subheader a {
	color: #0F6095;
	font-weight: 700;
}

#teach #subheader img {
	float: right;
	position:relative;
	top: 75px;
}

#subheader p {
	position: relative;
	top: 15px;
	font-weight: 700;
}

.login-required {
	display: none;
}

#signinlinks {
	position: relative;
	top: 50px;
	left: -20px;
}

#signinlinks a{
	color: black;
	font-weight: 700;
}

#main .btn {
	margin-left: 50px;
	margin-top: 20px;
}

#main-text .lesson-name {
	padding-bottom: 15px;
}

.btn-primary {
	background-color: #FF4000;
	border-color: #FF4000;
	font-weight: 700;
}

.btn-primary:hover {
	background-color: #FF8C66;
	border-color: #FF8C66;
	font-weight: 700;
}

.btn-default {
	background-color: #74BBD4;
	border-color: #74BBD4;
	font-weight: 700;
}

.btn-default:hover {
	background-color: #C7E4EE;
	border-color: #C7E4EE;
	color: #0F6095;
	font-weight: 700;
}

.btn-green {
  background-color: #79c040;
  border-color: #79c040;
}

.btn-green:hover {
  background-color: #C9E6B3;
  border-color: #C9E6B3;
}

.btn-blue {
 background-color: #74BBD4;
 border-color: #74BBD4;  
}

.btn-blue:hover {
  background-color: #C7E4EE;
  border-color: #C7E4EE;
}

#sidemenu, #mainmenu {
	position: relative;
	top: -65px;
}

#sidemenu li{
	padding: 10px;
	color: #BFBFBF;
	font-weight: 700;
	cursor: pointer;
}

#sidemenu li:hover {
	color: #0F6095;
	background-color: #C7E4EE;
}

#sidemenu .active {
	color: #FFF;
	background-color: #74BBD4;
}

#mainmenu p {
	font-weight: 400;
}

#mainmenu table {
	font-weight: 400;
}

table img {
	margin-right: 10px;
}

table .lesson-name {
	margin-top: 5px;
}

#mainmenu th {
	padding-left: 0px;
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
}

#mainmenu .lesson-name {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}

.lesson-name {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #585B5B;
}

.lesson-name:hover {
  color: #ff4000;
}

#mainmenu table tbody td img{
	float:left;
	width:25px;
}

#mainmenu a {
	color: #BFBFBF;
	text-decoration: none;
}

#mainmenu a:hover {
	color: #C7E4EE;
	background-color: #0F6095;
	text-decoration: none;
/* 	text-shadow: 1px 1px #ff4000; */
}

.category-name {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #ff4000;
}

#connect section {
	text-align: center;
}

#connect section img {
	width : 250px;
	padding-bottom: 100px;
}

#teach .alert-info {
	background-color: #C7E4EE;
	color: #0F6095;
}

#alpha {
	position: relative;
	top: 15px;
}

#teach #progress {
	margin-top: 15px;
}

#teach #progress #plusSteps{
	position:relative;
	top: -2px;
}

#teach #progress #minusSteps{
	position:relative;
	top: -2px;
}

#teach #lesson-name-form,#teach #progress,#teach #main{
	position:relative;
	top: -75px;
}

#teach h3{
	font-size: 14px;
	font-weight: 700;
}

.teach-column {
	width: 340px;
	height: 780px;
	margin-right: 15px;
	float: left;
}

.teach-box-elements {
	height: 775px;
	text-align: center;
}

.teach-box {
	border: solid 1px;
	height: 775px;
	text-align: center;
}

.instruction-header-img {
	margin-top: 10px;
}

#instructions .btn {
	margin-top: 10px;
}

.draggable {
	margin: 30px;
	cursor: -webkit-grab;
	cursor: -moz-grab;

}
.gray {
	width: 300px;
	padding-left: 35px;
	padding-top: 150px;
	color: #BFBFBF;
}

#teach .lesson-name {
	color: #FF4000;
}

#teach #main .btn{
	margin: 0px;
}

#teach-instructions {
	background-image: url('../img/fake-instructions.gif');
	padding-top: 150px;
}

.three-columns {
	width: 30%;
}

.three-column-spacer {
	margin-right: 3%;
}

#bottom {
	padding-top: 25px;
	color: #FFF;
}

.bottom_links {
	height: 150px;
	width: 30%;
	padding: 20px;
	float: left;
	background-color: #74bbd4;
	border-radius: 15px;
}

.bottom_links_spacer {
	margin-right: 5%;
}

.bottom_links img {
	float:left;
	margin-right: 15px;
}

.bottom_links p {
	margin-left: 100px;
}

#index .bottom_links:hover {
	background-color: #C7E4EE;
}

#index .bottom_links:hover a {
	color: #0F6095;
}

#index #main, #index #bottom, #index footer {
	position:relative;
	top: -50px;
}

#loading {
	height: 390px;
}

#about section a {
	color: #FF4000;
}

#about #subheader {
	position: relative;
	top: -75px;
	left: -12px;
}

.text-overlay{
	color: #FFF;
	font-weight: 700;
	position: relative;
	top: -175px;
	left: 50px;
	width: 400px;
}

#about section {
	position: relative;
	top: -125px;
}

#lesson .bottom_links {
	height: auto;
}

.bottom_links a:hover {
  color: #0F6095;
}

.bottom_links li {
	color: #FFF;
}

footer {
	background-color: #585b5b;
	font-weight: 700;
	margin-top: 25px;
	height: 33px;
	color: #FFF;
}

#credits {
	font-size: 12px;
	font-weight: 400;
	text-align: right;
}

#credits img {
	width: 55px;
}

footer a:hover {
	text-decoration: none;
  color: #74BBD4;
}

#instructions {
	width: 340px;
}

#instructions .col-6{
	padding-left: 0px;
}

button {
	color: #FFF;
	background-color: #BFBFBF;
}

#share {
	margin-top: 20px;
}

#back, #back:hover {
	font-weight: 700;
}

#next {
	background-color: #ff4000;
	background-border: #ff4000;
	font-weight: 700;
	-webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
}

#next:hover {
	background-color: #FF8C66;
	background-border: #FF8C66;
	font-weight: 700;
}

#bf_ribbon {
	margin-top: 46px;
	margin-left: 135px;
	height: 15px;
	background-color: #585b5b;
}

#progress {
	text-align: center;
}

#progress .unfinished {
	background-image: url('../img/unfinished_dot.gif');
	height: 25px;
	width: 25px;
}

#progress .active {
	background-image: url('../img/active_dot.gif');
	height: 50px;
	width: 50px;
	color: #FFF;
}

#progress .active h2 {
	position: relative;
	top: 10px;
	/*left: 15px;*/
}

#progress .finished {
	background-image: url('../img/finished_dot.gif');
	height: 25px;
	width: 25px;
}

#progress li {
	margin-right: 5px;
	vertical-align: middle;
}

#instructions section{
	width: 300px;
	height: 450px;
	margin: 0 auto;
}

section .btn{
	margin-bottom: 10px;
}

.tooltip {
	background-color: #FFF;
}

.step_text {
	margin: 15px auto;
	width: 260px;
	overflow: auto;
}

.step_text #popover {
	color: #ff4000;
}

.step_text #popover:hover {
	color: #ff4000;
}

.feedback{
	display: none;
	margin: 15px auto;
	width: 260px;
}

.feedback h2 {
	color: #79C040;
}

.feedback .responseDisplay {
	color: #ff4000;
	font-size: 14px;
	font-weight: 700;
}

.feedback span {
	color: #ff4000;
}

.orange {
	color: #ff4000;
}

.blue {
	color: #74BBD4;
}

#congrats {
	display: none;
	width: 260px;
	text-align: center;
	margin: 0 auto;
}

#congrats h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
}

#controls {
	width: 145px;
	margin: 0 auto;
}

#instructions footer {
	height: 15px;
}


/*#signup-form {
	background-color: #74bbd4;
	border-radius: 15px;
	padding: 25px;
}

#signin-form {
	background-color: #74bbd4;
	border-radius: 15px;
	padding: 25px;
}*/
/*#slideout {
    background: #666;
    width: 280px;
    height: 80px;
    position: relative;
    top: -40px;
    right: -320px;
    padding-left: 20px
}
    
#clickme {
    position: absolute;
    top: 0; left: 0;
    height: 20px;
    width: 20px;
    background: #ff0000;
}*/

/*#slidecontent {
    float:left;
}
