/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Fonts */

@font-face {
    font-family: 'MuseoSlab'; /*a name to be used later*/
    src: url('../fonts/Museo_Slab_500_2.otf'); /*URL to font*/
}

body {
	font-family: 'MuseoSlab';
	color: #585b5b;
	overflow-x: hidden;
}

a {
	color : #0F6095;
	cursor: pointer;
}

.nav li a:hover, .nav li a:focus {
	background-color: transparent;
}

.navbar, footer{
	font-family: 'Open Sans';
}

#signinlinks a{
	color: #585b5b;
	font-weight: 700;
	border-left:2px solid #585b5b;
	padding-left: 5px;
}

#signinlinks a:first-child,
#signinlinks #bfUserName
{
	border-left:none;
	padding-left: 0px;
}

#main-message {
	font-family: "MuseoSlab";
	color: #0F6095;
}

.btn {
	font-family: 'Open Sans';
	font-weight: 700;
	color: #FFF;
}

#bottom a {
	color: #0F6095;
	font-size: 18px;
	line-height: 20px;
}

#bottom a:hover {
	color: #ff4000;
}

.bold {
	font-family: 'Open Sans';
	font-weight: 700;
	line-height: 14px;
}

#top-learners .bold, #top-teachers .bold {
	line-height: 20px;
}

#subheader h1 {
	color: #79C040;
	font-family: 'Open Sans';
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;

}

#subheader p {
	color: #585b5b;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 700;
}

#service-media {
	position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  height: 0;
  overflow: hidden;
}

#service-media iframe,
#service-media object,
#service-media embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#service-media img {
	width: 100%;
}

.service-link {
	font-family: 'Open Sans';
	color: #FF4000;
	font-weight: 700;
}

.service-description {
	font-size: 12px;
}

#service-name {
	color:#79C040;
}

#tips {
	list-style: disc;
}

.orange-bg {
	background-color: #FFC9AE;
}
#additional-resources a {
	color: #0F6095;
	text-decoration: underline;
}

th {
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 700;
}

.author-name {
	font-size: 12px;
}

.modal-title {
	color: #79C040;
	font-weight: 700;
}

#instructions-title {
	font-size: 18px;
	line-height: 20px;
	color: #FF4000;
}

#subnav {
	z-index: 1000;
}

#subnav a {
		color: #FF4000;
	font-weight: 700;
	font-family: 'Open Sans';
}

#subnav a:hover {
	color: #FF8C66;
	text-decoration: none;
	border-color: #FF8C66;
}

#subnav .active {
	border-bottom: 5px solid #FF4000;
}

#subheader a {
}

#elements h3 {
	color: #FFF;
}

#elements .draggable {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
}

.temp-text{
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 700;
	line-height: 14px;
	width: 150px;
}

.plain {
	font-size: 12px;
	line-height: 12px;
	position: relative;
	top: -7px;
	list-style:disc;
	overflow: auto;
}

.plain li {
	margin-left:15px;
	margin-bottom: 5px;
}

#add-droppable {
	font-family: 'Open Sans';
	color: #0F6095;
	font-size: 12px;
	font-weight: 700;
}

#img-upload-form label {
	font-family: 'Open Sans';
	color: #0F6095;
	font-size: 12px;
	font-weight: 700;
}

/*END FONTS*/


/*POSITION */
header {
	height: 180px;
}

.navbar {
	position: relative;
	margin-bottom: 0;
}

/*#bottom, footer, #about-subheader {
	position: relative;
	top: -50px;
}*/

#main-text a {
	margin-top: 25px;
}

#bottom {
	margin-top: 50px;
}

#bottom img {
	padding-bottom: 10px;
}

#bottom p {
	margin: 10px;
}

footer {
	margin-bottom: 100px;
}

#subnav {
	position : relative;
	top: -60px;
}

#subheader h1 {
	margin-bottom: 5px;
}

hr {
	margin:0;
}

.service-header a {
	padding-left: 10px;
}

#service-name {
	padding-left: 15px;
	display: inline;
}

#tips li {
	margin-bottom: 10px;
}

#service-description li, #tips li {
	position: relative;
	left: 15px;
}

.modal-body {
	text-align: center;
}

#draftMessage a, #submittedMessage a, #submissionModal a {
	text-decoration: underline;
}

#submissionModal .btn {
	text-decoration: none;
}

#teach-landing #subheader, #teach-landing #main, #teach-header,
#teach-main, #new-service #subheader, #new-service #main, #new-category #subheader,
#new-category #main {
	position: relative;
	top: -31px;
}

#profile #subheader, #connect #subheader {
	padding-bottom: 15px;
}

#teach footer {
	position: relative;
	top: -56px;
}

#lesson-form {
	text-align: center;
}

#step-builder {
	position: relative;
	top: -25px;
}

#teach-dots {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: -30px;
	left:30px;
	padding-top: 35px;
	width : 300px;
}

#teach-dots-amount {
	position: relative;
	left:-30px;
}

#instructions section{
	position: relative;
	top: -10px;
	height: 400px;
}

#elements .draggable {
	position:relative;
	background-color: #FFF;
	border: 3px dashed #999;
	border-radius: 15px;
	width: 100px;
	height: 70px;
	margin-left: 6px;
	margin-bottom: 10px;
	font-weight: 700;
	text-align: center;
	z-index: 1;
	padding-top: 13px;
}

#elements p{
	padding-top: 10px;
}

#elements hr {
	padding: 5px;
}

#advanced-options {
	padding-top: 25px;
}

#add-droppable img {
	margin-right: 5px;
}

#step-text-content {
	margin: 15px auto;
	width: 310px;
}

#close-lesson {
	display:none;
}
/*END POSITION*/


/*COLORS*/

#teach-main {
	background-color: #BCDCE9;
}

.close {
	opacity: 1;
}

#elements {
	background-color: #BFBFBF;
}

#congrats-icons {
	background-color: #C7E4EE;
}

#congrats-share, #congrats-links {
	background-color: #FFC9AE
}

#congrats-links {
	height: 150px;
}

#congrats-links ul {
	width: 200px;
	margin: 0 auto;
}

hr {
	height: 1px;
	background-color: #BFBFBF;
}

/*END COLORS*/

.right {
	float: right;
}

.left {
	float:left;
}

/*added color to font styles*/
h1 {
	color: #79C040;
	font-family: 'Open Sans', sans-serif;
	font-size: 24pt;
	font-weight: 700;
	line-height: 26px;
	margin-top: 0px;
}

h2 {
	color: #FF4000;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}

ul{
	padding-left: 0px;
	list-style: none;
}

.navbar li, footer li  {
	padding-top: 5px;
}

.nav {
	position: absolute;
	top: 75px;
	left: 199px;
	height: 33px;
	background-color: #585b5b;
}

.navbar-brand {
	position: absolute;
	left: 0;
}

.navbar-nav li a {
	padding-top: 0px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #FFF;

}

.navbar-nav li a:hover{
	color: #74bbd4;
}

.navbar-nav li a.active {
	border-bottom: 5px solid #ffffff;
}

.nav > li > a
{
	padding:0px !important;
	margin: 15px !important;
	display: inline; !important;
}

#bfUserName, #signOutLink {
	display: none;
}


#subheader img {
	float: right;
}

.login-required {
	display: none;
}

#signinlinks {
	text-align: right;
	margin-top: 45px;
	margin-left: 200px;
}

#signinlinks a {
	white-space: nowrap;
}

#main-text {
	margin-top: 50px;
}

#main-text .lesson-name {
	padding-bottom: 15px;
}

/*
 *
 * 	BUTTONS
 */
.btn {
	border-radius:5px;
	font-family: MuseoSlab;
	text-align: center;
}

.btn-primary {
	background-color: #FF4000;
	border-color: #FF4000;
	font-weight: 700;
}

.btn-primary:hover {
	background-color: #FF8C66;
	border-color: #FF8C66;
	color: black;
	font-weight: 700;
}

.btn-default {
	background-color: #0F6095;
	border-color: #0F6095;
	font-weight: 700;
}

.btn-default:hover {
	background-color: #74BBD4;
	border-color: #74BBD4;
	color: black;
	font-weight: 700;
}

.btn-green {
  background-color: #79c040;
  border-color: #79c040;
}

.btn-green:hover {
  background-color: #C9E6B3;
  border-color: #C9E6B3;
}

.btn-blue {
 background-color: #74BBD4;
 border-color: #74BBD4;
}

.btn-blue:hover {
  background-color: #C7E4EE;
  border-color: #C7E4EE;
}

.btn-gray {
	background-color: #BFBFBF;
	border-color: #BFBFBF;
	font-weight: 700;
}

.btn-gray:hover {
	background-color: #BFBFBF;
	border-color: #BFBFBF;
	font-weight: 700;
}

#laptop {
	width: 420px;
	height: 240px;
}

#main-video iframe {
	position:absolute;
	top: 25px;
	left: 75px;
}

#about-main {
	padding-top: 25px;
}

#category-menu{
	margin-top: 15px;
	margin-bottom: 10px;
}

#category-menu a {
	color: #0F5F94;
	text-decoration: underline;
}

.category {
	margin-top: 15px;
	margin-bottom: 25px;
}

#subsubheader h2 {
	color: #79C040;
}

#subsubheader a {
	color: #ff4000;
	font-weight: 700;
}

.category-name {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #ff4000;
}

#recent-content {
	padding-top: 25px;
	border: solid 1px;
	height: 150px;
	font-weight: 700;
	margin-bottom: 25px;
}

#recent-content a {
	color: #FF4000;
}

#recent-content a:hover {
	color: #FF4000;
}

legend {
	padding-top: 10px;
}


#teach-callout {
	background-color: #C7E4EE;
	border-radius: 15px;
	padding: 10px;
}

#teach-callout p{
	display: inline;
}

#teach-content {
	padding: 25px;
}

.inline-block {
	display: inline-block;
}

#current-dot{
	background-image: url('../img/teach-dot.png');
	height: 90px;
	width: 90px;
	color: #FFF;
	text-align: center;
	list-style: none;
}

#current-dot h1 {
	position: relative;
	top: 35px;
	font-size: 48px;
}

#add-new-step {
	width: 50px;
	float: right;
	font-size: 10px;
}

#elements .disabled {
	background-color: #666;
	cursor: not-allowed;
}

#step-close-btn {
	position: relative;
	top:-10px;
	right:-10px;
}

.selectpicker a {
	color: #ff4000;
}

#alpha {
	position: relative;
	top: 15px;
}

#teach h3{
	font-size: 14px;
	font-weight: 700;
}

.teach-column {
	width: 340px;
	/*height: 780px;*/
	margin-right: 15px;
	float: left;
}

.temp-close-btn {
	position:relative;
	top: -20px;
	left: 19px;
}

.teach-box-elements {
	height: 775px;
	text-align: center;
}

.teach-box {
	border: solid 1px;
	box-shadow: 10px 10px 5px #888888;
	height: 775px;
	padding: 15px;
}

.orange-square {
	width: 25px;
	height: 25px;
	background-color: #FFC9AE;
	border: 1px solid #999999;
}

.orange-bg {
	background-color: #FFC9AE;
}

.blue-square {
	width: 25px;
	height: 25px;
	background-color: #C7E4EE;
	border: 1px solid #999999;
}
.white-square {
	width: 25px;
	height: 25px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
}

.btn-teach, .btn-teach:hover {
	color: #585b5b;
	background-color: transparent;
	border: 1px solid;
	font-weight: 700;
}

.popover {
	text-align: center;
}

#feedback-window {
	height: 250px;
	background-color: #FFF;
	border: 1px solid;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
}

#feedback-window h2 {
	margin-top: 10px;
}

#feedback-content {
	color: #585b5b;
}

#feedback-content h2 {
	color: #79c040;
}

#feedback-content hr {
	margin: 25px 0;
}

#feedback-control {
	text-align: center;
/*	position:absolute;*/
}

#state-btns {
	margin-top : 25px;
}

.uploaded-image {
	border: 1px solid;
	background-color: #FFF;
}

.instruction-header-img {
	margin-top: 10px;
}

#instructions header, #instructions footer {
	position:relative;
	top: 0px;
}

#instructions .btn {
	margin-top: 10px;
}

.draggable {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.step-text{
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 15px;
	/*width: 260px;*/
}

.temp {
	border: 3px dashed #999;
	border-radius: 15px;
}

#step-texts .active, #feedback-content .active {
	border: 3px solid #999;
	border-radius: 15px;
}

.hidden {
	display: none;
}

.temp-text {
	color: #999;
	text-align: center;
	padding-top: 20px;
	margin: 0 auto;
	min-height: 75px;
}

.gray {
	width: 300px;
	padding-left: 35px;
	padding-top: 150px;
	color: #BFBFBF;
}

.lesson-name {
	color: #FF4000;
	font-weight: 700;
	font-family: 'Open Sans';
}

.service-name {
	font-weight: 700;
	font-family: 'Open Sans';
}

#teach #main .btn{
	margin: 0px;
}

#teach-instructions {
	background-image: url('../img/fake-instructions.png');
	padding-top: 150px;
}

.three-columns {
	width: 30%;
}

.three-column-spacer {
	margin-right: 3%;
}




#loading {
	height: 390px;
}

#about section a {
	color: #FF4000;
}

.text-overlay{
	color: #FFF !important;
	font-weight: 700;
	position: absolute;
	top: 200px;
}

#about section {
	position: relative;
	top: -75px;
}

#lesson .bottom_links {
	height: auto;
}

.bottom_links a:hover {
  color: #0F6095;
}

.bottom_links li {
	color: #FFF;
}

#footer-menu {
	background-color: #585b5b;
	font-weight: 700;
	margin-top: 25px;
	height: 33px;
	color: #FFF;
}

footer a {
	color: #FFF;
}

#credits {
	font-size: 12px;
	font-weight: 400;
	text-align: right;
}

#credits img {
	width: 55px;
}

footer a:hover {
	text-decoration: none;
  color: #74BBD4;
}

#instructions {
	width: 340px;
	overflow-x:hidden;
}

#instructions .col-6{
	padding-left: 0px;
}

#share {
	margin-top: 20px;
}

#next {
	-webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -ms-animation-duration: 1.5s;
    -ms-animation-iteration-count: infinite;
    -o-animation-duration: 1.5s;
    -o-animation-iteration-count: infinite;
}

#bf_ribbon {
	margin-top: 40px;
	margin-left: 135px;
	height: 35px;
	background-color: #585b5b;
}

.progress-dots {
	text-align: center;
}

.progress-dots .unfinished {
	background-image: url('../img/unfinished_dot.png');
	height: 15px;
	width: 15px;
}

.progress-dots .active {
	background-image: url('../img/active_dot.png');
	height: 30px;
	width: 30px;
	color: #FFF;
}

.progress-dots .active h2 {
	position: relative;
	top: 5px;
	/*left: 15px;*/
}

.progress-dots .finished {
	background-image: url('../img/finished_dot.png');
	height: 15px;
	width: 15px;
}

.progress-dots li {
	margin-right: 5px;
	vertical-align: middle;
}


section .btn{
	margin-bottom: 10px;
}

.tooltip {
	background-color: #FFF;
}



.step_text #popover {
	color: #ff4000;
}

.step_text #popover:hover {
	color: #ff4000;
}

.feedback{
	display: none;
	margin: 15px auto;
	width: 260px;
}

.feedback

 {
	color: #79C040;
}

.feedback .responseDisplay {
	color: #ff4000;
	font-size: 14px;
	font-weight: 700;
}

.feedback span {
	color: #ff4000;
}

.orange {
	color: #ff4000;
}

.blue {
	color: #74BBD4;
}

.green {
	color: #79c040;
}

#congrats {
	display: none;
	width: 260px;
	text-align: center;
	margin: 0 auto;
}

#congrats h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
}

#controls {
	width: 125px;
	margin: 0 auto;
}

#teach-controls {
	width: 125px;
	position: absolute;
	bottom: 60px;
	left: 105px;
}

#close-lesson-wrapper {
		/*width: 145px;*/
}

#instructions footer {
	height: 15px;
}

#rating {
    background: #74BBD4;
}

#signin a:hover {
	color: #74BBD4;
}

#rating {
    background: #74BBD4;
    width: 280px;
    height: 40px;
    position: relative;
    top: -100px;
    right: -310px;
    padding-left: 35px;
    border-radius: 25px;
}

#rating-handle {
    position: absolute;
    top: 10px; left: 10px;
    border-radius: 25px;
}

#rating-content {
	background: #74BBD4;
	color: #FFF;
	border-radius: 25px;
}

#rating-form .form-group {
	padding-left : 15px;
}

.center {
	text-align: center;
}

#connect #left-column {
	min-width:330px;
}

#top-learners a, #top-teachers a, #latest-activity a {
	font-weight: 700;
	text-decoration: underline;
}

#profile-info {
	background-color: #C7E4EE;
	color: #0F6095;
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 15px;
}

#fb-plugin-box {
	background-color: #C7E4EE;
	color: #0F6095;
	border-radius: 15px;
	padding: 10px;
	min-width:330px;
}

#profile-info .location, #profile-info .biz-name {
	font-size : 14px;
	font-family: 'Open Sans';
	font-weight: 700;
}

/*#profile-info .biz-name, #profile-social-links, #profile-info .profile-description {
	position: relative;
	top: -15px;
}*/

#profile-info .profile-description a{
	text-decoration: underline;
	font-size: bold;
}

#profile-social-links {
	margin-bottom: 15px;
}

#profile-info #profile-social-links a {
	margin-right : 15px;
}

#fb-plugin {
	background-color: #FFF;
}


#profile-activity {
	margin-left: 25px;
}

#profile-activity h1, #leader-boards h1, #latest-activity h1 {
	text-align: center;
	background-color: #FFC9AE;
	color: #ff4000;
	line-height: 48px;
	border-radius: 15px;
}

#edit-profile legend {
	color: #ff4000;
	font-size: 24px;
	font-weight: 700;
}

#latest-activity {
	padding-top: 25px;
}

#recent-activity {
	margin-left: 25px;
	font-weight: 700;
}

#recent-activity hr {
	margin-bottom: 10px;
}

.activity{
	/*height : 150px;*/
	padding-bottom: 15px;
}

#accomplishments {
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	font-family: 'Open Sans';
	color: #004E84;
}

.activity-number {
	font-size: 48px;
	color: #79C040;
}

#services-learned {
	/*text-align: left;*/
}

#services-created h3 {
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 700;
}

.service-learned a{
	color: #004E84;
	text-decoration: underline;
}

.teach-top h2 {
	color: #FF4000;
	text-align: center;
}

.teach-bottom h2 {
	text-align: center;
	color: #0F6095;
}

#teach-landing #main hr {
	margin: 20px;
}

#teach-landing #main ul {
	list-style: disc;
}

#teach-landing #main li {
	margin-left: 15px;
}

#teach-landing #main .description {
	color: #FF4000;
	font-weight: 700;
	font-family: 'Open Sans';
}

.teach-top {
	background-color: #FFC9AE;
	border-radius: 15px;
	padding-top: 16px;
  padding-bottom: 16px;
	min-height: 425px;
	margin-bottom: 15px;
}

.teach-bottom {
	background-color: #C7E4EE;
	border-radius: 15px;
  padding-top:16px;
	padding-bottom: 16px;
	min-height: 225px;
	margin-bottom: 15px;
}

.teach-top a, .teach-bottom a {
	margin: 15px auto;
  white-space: normal;
}

.teach-top, .teach-bottom {
	margin-right: 25px;
}

#teaching-guide h2, #about-page h2 {
	color: #79C040;
}

#teaching-guide #main ul, #teaching-guide #subheader ul, #about-page ul {
	padding-left: 35px;
	list-style: disc;
}

#teaching-guide #tg-nav ul,
#about-page #tg-nav ul {
	list-style: none;
}

#teaching-guide .padded-img {
	padding-bottom: 25px;
}

#teaching-guide #main a {
	text-decoration: underline;
}
/*modified*/
#about-page #subheader a {
	text-decoration: underline;
}

#new-service input {
	margin-bottom: 10px;
}

legend {
	font-family: 'Open Sans';
	font-weight: 700;
	color: #0F6095;
	font-size: 18px;
}

label {
	font-family: 'Open Sans';
	font-weight: 700;
	color: #0F6095;
	font-size: 14px;
}

#about-page #main hr {margin-bottom: 10px;}
#about-page #main h2 {margin-bottom: 10px;}

/* bootstrap additions */
.alert-success a{
	color: #FF4000;
}

.back-to-top {text-align: right;}

.back-to-top + p {
    border-top: solid 1px #BFBFBF;
    padding-top: 10px;
    margin-top: -10px;
}

.back-to-top a {
  margin-right: 20px;
  padding-top: -20px;
  background: #fff;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}

media (max-width: 1200px) {
	.teach-top {
		min-height: 480px;
	}
		.teach-bottom {
		min-height: 255px;
	}
}

@media (max-width: 990px) {
	.teach-top {
		min-height: 575px;
	}
		.teach-bottom {
		min-height: 300px;
	}
}

@media (max-width: 786px) {
	.teach-top {
		min-height: 585px;
	}
		.teach-bottom {
		min-height: 355px;
	}
}

@media (max-width: 768px) {
	.teach-top {
		min-height: 330px;
	}
	.teach-bottom {
		min-height: 170px;
	}
}
/*Modifications included on 25th April 2015*/
#category-left a:hover{
   color: #990066;

}
#category-right a:hover{
   color: #990066;

}
#teach-landing #subheader a:hover{
color:#990066;

}
#teaching-guide #subheader a{
text-decoration:underline;
}
#teaching-guide #main a:hover{
text-decoration:underline;
color:#990066;
}
#connect #main a:hover{
color: #990066;
}
.back-to-top a:hover{
	color: #990066;
}
#teach-callout a:hover{
	color: #990066;
}
#about-page #subheader a:hover{
	color: #990066;
}
#about-page #main a:hover{
	color: #990066;
}
#teach-header #subheader a:hover ,#new-service #subheader a:hover,#new-category #subheader a:hover{

	color: #990066;
}
#main #additional-resources a:hover{
 color: #990066;
}