/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #585b5b;
}

.bold {
	font-weight: 700;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 26px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	margin: 0px;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #FFF;
	text-decoration: none;
}

ul {
	padding-left: 0px;
	list-style: none;
}

li {
	padding-top: 5px;
}

.navbar {
	background-color: #FFF;
}

.nav {
	margin-top: 75px;
	margin-left: 5px;
	height: 33px;
	background-color: #585b5b;
}

.navbar-nav li a {
	padding-top: 0px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #FFF;
}

.navbar-nav li a:hover{
	color: #FFF;
	text-decoration: none;
	text-shadow: 1px 1px #ff4000;
}

#subheader {
	position: relative;
	top: -75px;
}

#subheader img {
	float: right;
}

#subheader p {
	position: relative;
	top: 15px;
}

#main-text {
	position: relative;
	top: 65px;
}

#main .btn {
	margin-left: 50px;
	margin-top: 10px;
}

.btn-primary {
	font-size: 18px;
	font-weight: 700;
	background-color: #FF4000;
	border-color: #FF4000;
}

.btn-primary:hover {
	background-color: #FF8C66;
	border-color: #FF8C66;
}

.btn-default {
	background-color: #585B5B;
	border-color: #585B5B;
}

#sidemenu, #mainmenu {
	position: relative;
	top: -65px;
}

#sidemenu li{
	padding: 10px;
	color: #acacac;
	font-weight: 700;
	cursor: pointer;
}

#sidemenu li:hover {
	background-color: #C7E4EE;
}

#sidemenu .active {
	color: #FFF;
	background-color: #74BBD4;
}

#mainmenu p {
	font-weight: 400;
}

#mainmenu table {
	font-weight: 400;
}

#mainmenu th {
	padding-left: 0px;
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
}

#mainmenu .lesson-name {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}

.lesson-name {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #ff4000;
}

#mainmenu table tbody td img{
	float:left;
	width:25px;
}

#mainmenu a {
	color: #585b5b;
	text-decoration: none;
}

#mainmenu a:hover {
	color: #585b5b;
	text-decoration: none;
	text-shadow: 1px 1px #ff4000;
}

.category-name {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #ff4000;
}

#bottom {
	padding-top: 25px;
	color: #FFF;
}

.bottom_links {
	height: 150px;
	width: 30%;
	padding: 20px;
	float: left;
	background-color: #74bbd4;
	border-radius: 15px;
}

.bottom_links_spacer {
	margin-right: 3%;
}

.bottom_links img {
	float:left;
	margin-right: 15px;
}

.bottom_links p {
	margin-left: 100px;
}

.bottom_links:hover {
	background-color: #68A8BF;
}

.bottom_links li {
	color: #FFF;
}

footer {
	background-color: #585b5b;
	font-weight: 700;
	margin-top: 25px;
	height: 33px;
	color: #FFF;
}

#credits {
	font-size: 12px;
	font-weight: 400;
	text-align: right;
}

#credits img {
	width: 55px;
}

footer a:hover {
	text-decoration: none;
	text-shadow: 1px 1px #ff4000;
}

#instructions {
	width: 340px;
}

#instructions .col-6{
	padding-left: 0px;
}

button {
	color: #FFF;
	background-color: #BFBFBF;
}

#share {
	margin-top: 20px;
}

#next {
	background-color: #ff4000;
	background-border: #ff4000;
}

#next:hover {
	background-color: #FF8C66;
	background-border: #FF8C66;
}

#bf_ribbon {
	margin-top: 46px;
	margin-left: 135px;
	height: 15px;
	background-color: #585b5b;
}

#progress .unfinished {
	background-image: url('../img/unfinished_dot.gif');
	height: 25px;
	width: 25px;
}

#progress .active {
	background-image: url('../img/active_dot.gif');
	height: 50px;
	width: 50px;
}

#progress .active h2 {
	position: relative;
	top: 10px;
	left: 15px;
}

#progress .finished {
	background-image: url('../img/finished_dot.gif');
	height: 25px;
	width: 25px;
}

#progress li {
	margin-right: 5px;
	vertical-align: middle;
}


#instructions section{
	height:500px;
	width: 300px;
	margin: 0 auto;
}

section .btn{
	margin-bottom: 10px;
}

.feedback{
	display: none;
	padding-top: 15px;
}

#controls {
	width: 120px;
	margin: 0 auto;
}

#instructions footer {
	height: 15px;
}

#slideout {
    background: #666;
    width: 280px;
    height: 80px;
    position: relative;
    top: -40px;
    right: -320px;
    padding-left: 20px
}
    
#clickme {
    position: absolute;
    top: 0; left: 0;
    height: 20px;
    width: 20px;
    background: #ff0000;
}

/*#slidecontent {
    float:left;
}*/