	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href="css/main.css" rel="stylesheet" type='text/css'>
	{% if page.js == 'teach' %}
	<link href="css/bootstrap-select.min.css" rel="stylesheet">
	{% endif %}
	{% if page.js == 'new-service' %}
	<link href="css/bootstrap-select.min.css" rel="stylesheet">
	{% endif %}
	{% if page.js == 'instructions' %}
	<link href="css/animate.min.css" rel="stylesheet">
	{% endif %}