<footer class="row">
    <ul class="list-unstyled list-inline col-md-12 col-lg-12">
        <li class="col-sm-1 col-md-1 col-lg-1 col-md-offset-1 col-lg-offset-1"><a href="about.html">About</a></li>
        <li class="col-sm-1 col-md-1 col-lg-1 col-md-offset-1 col-lg-offset-1"><a href="https://docs.google.com/forms/d/1hHXzRUBGmTtWPxkjHJ5aryPCkGpxcZq0AWM_2uae8Pc/viewform" target="_blank">Feedback</a></li>
        <li id="credits" class="hidden-xs col-sm-8 col-md-6 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"><img src="img/cfa_logo.png"> in partnership with Kansas City, Missouri and Kansas City, Kansas.</li>
    </ul>
</footer>