<footer class="footer">
    <div class="container">
        <div class="row">
            <ul class="list-unstyled list-inline col-md-12">
                <li class="col-md-1 col-offset-1"><a href="about.html">About</a></li>
                <li class="col-md-1"><a href="https://docs.google.com/forms/d/1hHXzRUBGmTtWPxkjHJ5aryPCkGpxcZq0AWM_2uae8Pc/viewform" target="_blank">Feedback</a></li>
                <li id="credits" class="col-md-6 col-offset-2"><img src="img/cfa_logo.png"> in partnership with Kansas City, Missouri and Kansas City, Kansas.</li>
            </ul>
        </div>
    </div>
</footer>