<header class="navbar navbar-static-top row">
    <a class="navbar-brand" href="/"><img src="img/BizFriendly-logo.png"></a>
    <div id="signinlinks" class="col-sm-8 col-md-9">
        <a id="signInLink" href="signin.html">Sign In</a>
        <a id="signUpLink" href="signup.html" >Sign Up</a>
        <a id="bfUserName" href="profile.html"></a>
        <a id="signOutLink" href="#">Sign Out</a>
    </div>
    <ul class="nav navbar-nav hidden-xs col-sm-8 col-md-9">
        <li class="col-sm-1 col-md-offset-1"><a id="about-header-nav" href="about.html">About</a></li>
        <li class="col-sm-2 col-sm-offset-1"><a id="learn-header-nav" href="learn.html">Learn</a></li>
        <li class="col-sm-2 col-sm-offset-1"><a id="teach-header-nav" href="teach.html">Teach</a></li>
        <li class="col-sm-2 col-sm-offset-1"><a id="connect-header-nav" href="connect.html">Connect</a></li>
    </ul>
</header>
