<header class="" role="navigation">
    <div class="container">
    <div id="signinlinks" class="pull-right">
        <a id="signInLink" href="signin.html">Sign In</a>
        <a id="signUpLink" href="signup.html" >| Sign Up</a>
        <a id="bfUserName" href="#"></a>
        <a id="signOutLink" href="#">| Sign Out</a>
    </div>

        <nav class="navbar navbar-default" role="navigation">
                <a class="logo" href="http://bizfriend.ly"><img width="200" src="img/bizfriendly_weblogo_alpha.png"></a>
                <div class="links col-sm-10">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="learn.html">Learn</a></li>
                        <li class=""><a href="teach.html">Teach</a></li>
                        <li class=""><a href="connect.html">Connect</a></li>
                    </ul>
                </div>
        </nav>
        </div>
</header>