	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.js"></script>
	<!--[if lt IE 10]>
		<script type="text/javascript" src="js/vendor/jquery.iecors.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/vendor/jquery.cookie.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>


	{% if page.js == 'new-service' %}
	<script type="text/javascript"  src="js/vendor/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.jeditable.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.fileupload.js"></script>
	{% endif %}

	{% if page.js == 'teach' %}
	<script type="text/javascript"  src="js/vendor/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.jeditable.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="js/vendor/jquery.fileupload.js"></script>

	<script>
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
		alert("You can't create lessons on mobile yet. Sorry!");
		}
	</script>
	{% endif %}

	{% if page.js == 'profile' %}
	<script src="js/vendor/moment.js"></script>
	{% endif %}

	{% if page.js == 'instructions' %}
	<script src="js/vendor/jquery.popupwindow.js"></script>
	<script src="js/vendor/oauth.js"></script>
	<script>
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
		alert('This lesson works best on a desktop. You can still do it here, yet you\'ll need to jump between tabs which is kind of annoying.');
		}
	</script>
	{% endif %}