<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta charset="utf-8">

<link rel="icon" type="image/x-icon" href="ico/favicon.ico">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-select.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="css/main.css" rel="stylesheet">
<script src="http://jpillora.com/xdomain/dist/0.5/xdomain.min.js"></script>
<script>
	xdomain({
	  slaves: {
	    'http://*.bizfriend.ly': '/proxy.html',
	    'http://127.0.0.1:8000/': '/proxy.html'
	  }
	});
</script>
<script src="js/vendor/jquery-1.9.1.min.js"></script>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script> -->
<script src="js/vendor/jquery.cookie.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/bootstrap-select.min.js"></script>
<script src="js/vendor/jquery-ui.js"></script>
<script src="js/vendor/jquery.jeditable.js"></script>
<script src="js/vendor/jquery.ui.widget.js"></script>
<script src="js/vendor/jquery.iframe-transport.js"></script>
<script src="js/vendor/jquery.fileupload.js"></script>

<!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script>
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
	alert("You can't create lessons on mobile yet. Sorry!");
	}
</script>
