<!DOCTYPE html>

<head>
	<title>BizFriend.ly | {{ page.title }}</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="ico/favicon.ico">
	{% include css.html %}
	{% include scripts.html %}
</head>

<body class="container">
<div id="translator_4761"><noscript>Javascript is disable - <a href="http://www.webestools.com/">http://www.webestools.com/</a> - <a href="http://www.webestools.com/translator-buttons-web-page-translation-google-translate-website-widget-online-html-translator.html">Translation Buttons Generator</a></noscript></div><script type="text/javascript" src="http://services.webestools.com/translator/4761-4-yynnnnnnn.js"></script>
	{% include header.html %}

	{{ content }}

    {% include footer.html %}

</body>

{% include footer_scripts.html %}

</html>